/* Variables
-------------------------- */
:root {
  --body-bg: linear-gradient(to right, #EDFAFD, #f9f7f2);
  --text-color: #242424;
  --heading-color: #15263d;
  --border: #D9D9D9;
  --primary: #f25035;
  --secondary: #828385;
  --light: #fafafa;
  --font-content: 'Poppins', sans-serif;
  --font-heading: 'Poppins', sans-serif;
}
/* body */
body {
  background: var(--body-bg);
  color: var(--text-color);
  font-family: var(--font-content);
}
/* typography */
h1, h2, h3, h4 {
  color: var(--heading-color);
  font-family: var(--font-heading);
  font-weight: 600;
}
p {
  margin: 0 0 1.4rem 0;
}
a {
  text-decoration: none;
}
strong {
  font-weight: 600;
}